@font-face {
  font-family: "ka1";
  src: url('ka1.ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "fangzheng";
  src: url('fangzheng.TTF');
  font-weight: normal;
  font-style: normal;
}